

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("bkg1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url('../img/afribook.jpg');
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */




}

.login-container {
    width: 350px;
}

h2 {
    text-align: center;
    color: green;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

